@model LandingPageModel
@{
    ViewData["Title"] = "Landing Page";
}

@section Styles {
    <link rel="stylesheet" href="@Url.Content("~/css/landing.css")" />
}

<div class="text-center my-3 text-black">
    <h1 class="display-4">Welcome to RPLOGIC</h1>

    <p class="lead">Radiation Protection Logistics &amp; Inventory</p>
</div>

<div class="row mb-lg-4">
    @foreach (CardModel card in Model.Cards)
    {
        await Html.RenderPartialAsync("_NavigationCard", card);
    }
</div>
